<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="./vue-2.5.13.js"></script>
</head>
<body>
    <div id="app">
        <div>
            <input v-model="title">
            <button v-on:click="add">submit</button>
        </div>
    <div>
        <ul>
            <li v-for="item in lists">{{item}}</li>
        </ul>
    </div>
</div>

<script>
var vm = new Vue({
    el:'#app',
    data: {
        title:'',
        lists: []
    },
    methods: {
        add: function () {
            this.lists.push(this.title)
            this.title = ''
        }
    }
})
</script>
</body>
</html>