<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>组件注册</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>
<div id="app">
    <h1>组件注册</h1>
    <hr>
    <h3>全局注册</h3>
    <hr>
    <component-a></component-a>
    <!--<component-b></component-b>-->
    <!--<component-c></component-c>-->
    <h3>局部注册</h3>
    <hr>
</div>
<script>
    Vue.component('component-a', {template: '全局注册'})
    // Vue.component('component-b', {template: '全局注册'})
    // Vue.component('component-c', {template: '全局注册'})
    new Vue({
        el: '#app'
    })
</script>
</body>
</html>