html {
    height: 100%;
  }
  
  body {
    background: #222222;
    box-shadow: inset 0 0 400px #111111;
    height: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .rain {
    background: white;
    background: linear-gradient(to bottom, #fff 0%, rgba(255, 255, 255, 0) 100%);
    height: 50px;
    position: absolute;
    width: 1px;
  }
  
  .rain:nth-of-type(1) {
    animation-name: rain-1;
    animation-delay: 9s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    left: 15%;
    opacity: 0.38;
    top: -62%;
  }
  
  @Keyframes rain-1 {
    0% {
      opacity: 0;
      top: 102%;
    }
    100% {
      left: 15%;
      opacity: 0.38;
      top: -62%;
    }
  }
  .rain:nth-of-type(2) {
    animation-name: rain-2;
    animation-delay: 2s;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    left: 46%;
    opacity: 0.34;
    top: -99%;
  }
  
  @Keyframes rain-2 {
    0% {
      opacity: 0;
      top: 139%;
    }
    100% {
      left: 46%;
      opacity: 0.34;
      top: -99%;
    }
  }
  .rain:nth-of-type(3) {
    animation-name: rain-3;
    animation-delay: 0s;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    left: 82%;
    opacity: 0.6;
    top: -61%;
  }
  
  @Keyframes rain-3 {
    0% {
      opacity: 0;
      top: 101%;
    }
    100% {
      left: 82%;
      opacity: 0.6;
      top: -61%;
    }
  }
  .rain:nth-of-type(4) {
    animation-name: rain-4;
    animation-delay: 14s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 3%;
    opacity: 0.58;
    top: -85%;
  }
  
  @Keyframes rain-4 {
    0% {
      opacity: 0;
      top: 125%;
    }
    100% {
      left: 3%;
      opacity: 0.58;
      top: -85%;
    }
  }
  .rain:nth-of-type(5) {
    animation-name: rain-5;
    animation-delay: 8s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 98%;
    opacity: 0.5;
    top: -79%;
  }
  
  @Keyframes rain-5 {
    0% {
      opacity: 0;
      top: 119%;
    }
    100% {
      left: 98%;
      opacity: 0.5;
      top: -79%;
    }
  }
  .rain:nth-of-type(6) {
    animation-name: rain-6;
    animation-delay: 1s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 24%;
    opacity: 0.56;
    top: -74%;
  }
  
  @Keyframes rain-6 {
    0% {
      opacity: 0;
      top: 114%;
    }
    100% {
      left: 24%;
      opacity: 0.56;
      top: -74%;
    }
  }
  .rain:nth-of-type(7) {
    animation-name: rain-7;
    animation-delay: 12s;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    left: 61%;
    opacity: 0.54;
    top: -53%;
  }
  
  @Keyframes rain-7 {
    0% {
      opacity: 0;
      top: 93%;
    }
    100% {
      left: 61%;
      opacity: 0.54;
      top: -53%;
    }
  }
  .rain:nth-of-type(8) {
    animation-name: rain-8;
    animation-delay: 13s;
    animation-duration: 7s;
    animation-iteration-count: infinite;
    left: 49%;
    opacity: 0.43;
    top: -61%;
  }
  
  @Keyframes rain-8 {
    0% {
      opacity: 0;
      top: 101%;
    }
    100% {
      left: 49%;
      opacity: 0.43;
      top: -61%;
    }
  }
  .rain:nth-of-type(9) {
    animation-name: rain-9;
    animation-delay: 0s;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    left: 8%;
    opacity: 0.55;
    top: -58%;
  }
  
  @Keyframes rain-9 {
    0% {
      opacity: 0;
      top: 98%;
    }
    100% {
      left: 8%;
      opacity: 0.55;
      top: -58%;
    }
  }
  .rain:nth-of-type(10) {
    animation-name: rain-10;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    left: 61%;
    opacity: 0.46;
    top: -98%;
  }
  
  @Keyframes rain-10 {
    0% {
      opacity: 0;
      top: 138%;
    }
    100% {
      left: 61%;
      opacity: 0.46;
      top: -98%;
    }
  }
  