{
  // 插件的集合
  "presets": [ // 从下往上加载
    ["@babel/preset-env", {
      "useBuiltIns": "usage", // 按需加载，通过corejs查找到相应的插件
      "corejs": 3 // babel/polyfill，解析高标准的语法，例如 Promise
    }]
  ],
  // 单个插件
  "plugins": [ // 从上往下加载
    "@babel/plugin-transform-runtime", // @babel/plugin-transform-runtime插件会调用@babel/runtime插件，减少代码冗余，如多次定义classCallCheck，用来编译class
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose": true }]
  ]
}