<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>列表渲染</title>
  <style>

  </style>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>

<body>
  <div>
    Vue.set()方法或实例vm.$set()方法修改数组和对象
  </div>
  <div id="app">
    <div v-for="(item, key, index) of userInfo">
      {{item}}---{{key}}---{{index}}
    </div>
    <div v-for="(item,index) of list">
      {{item}}
    </div>
  </div>
</body>
<script>
  var vm = new Vue({
    el: '#app',
    data: {
      userInfo: {
        name: "Dell",
        age: 28,
        gender: "male",
        salary: "secret"
      },
      list: [1, 2, 3, 4]
    }
  })
  // vm.$set(vm.userInfo, 'sfsf','sdfsdf')
  // Vue.set(vm.userInfo, 'sdf', 'sdfs')
  // vm.$set(vm.list,6,'sdf')
  // Vue.set(vm.list,7,'sdf')
</script>

</html>