.article h1 {
  margin: 0 0 1em;
}
.article h2 {
  margin: 45px 0 0.8em;
  padding-bottom: 0.7em;
  border-bottom: 1px solid #ddd;
}
.article h3 {
  margin: 52px 0 1.2em;
}
.article figure,
.article p,
.article ul,
.article ol {
  margin: 1.2em 0;
}
.article p,
.article ul,
.article ol {
  line-height: 1.6em;
}
.article ul,
.article ol {
  padding-left: 1.5em;
}
.article a {
  color: #42b983;
  font-weight: 600;
}
.article blockquote {
  margin: 2em 0;
  padding-left: 20px;
  border-left: 4px solid #42b983;
}
.article blockquote p {
  font-weight: 600;
  margin-left: 0;
}
.article iframe {
  margin: 1em 0;
}
#detail .user-info {
  display: grid;
  grid: auto auto / 80px 1fr;
  margin-top: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ebebeb;
}
#detail .user-info .avatar {
  grid-column: 1;
  grid-row: 1 / span 2;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
#detail .user-info h3 {
  grid-column: 2;
  grid-row: 1;
  margin: 5px 0;
}
#detail .user-info p {
  grid-column: 2;
  grid-row: 2;
  margin-top: 0;
  font-size: 12px;
  color: #999;
}
#detail .user-info p a {
  color: #38424e;
  text-decoration: none;
}
#detail .article {
  padding: 30px 0;
}
