<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>水平居中</title>
  <style>
    .parent {
      width: 100%;
      height: 200px;
      background: #ccc;

    }
    .child {
      width: 200px;
      height: 200px;
      background: #c9394a;

      display: table; /* block也可以 */
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="parent">
    <div class="child">水平居中布局</div>
  </div>
</body>
</html>