<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>垂直居中</title>
  <style>
    .parent {
      width: 200px;
      height: 600px;
      background: #ccc;
      /* 
        display属性：
          table：设置当前元素为<table>元素
          table-cell：设置当前元素为<td>元素（单元格）
       */
      display: table-cell;
      /* 
        vertical-align属性：用于设置文本内容的垂直方向对齐方式
          top：顶部对齐
          middle：居中对齐
          bottom：底部对齐
       */
      vertical-align: middle;
    }
    .child {
      width: 200px;
      height: 200px;
      background: #c9394a;
    }
  </style>
</head>
<body>
  <div class="parent">
    父级文本
    <div class="child">垂直居中布局</div>
  </div>
</body>
</html>