<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>两列布局</title>
  <style>
    .left, .right {
      height: 300px;
    }
    .left {
      /* 定宽 */
      width: 300px;
      background-color: #c9394a;

      float: left;
    }
    .right {
      background-color: #ccc;
      /* 开启BFC模式 - 当前元素的内部环境与外界完全隔离 */
      overflow: hidden;
    }
  </style>
</head>
<body>
  <div class="left"></div>
  <div class="right">
    右侧内容
  </div>
</body>
</html>