<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>两列布局</title>
  <style>
    .left, .center, .right {
      height: 300px;
    }
    .left, .right {
      /* 定宽 */
      width: 300px;
    }
    .left {
      background-color: #c9394a;

      float: left;
    }

    .center {
      background-color: green;

      float: left;
    }

    .right {
      background-color: #ccc;

      margin-left: 600px;
    }
  </style>
</head>
<body>
  <div class="left">左</div>
  <div class="center">中</div>
  <div class="right">右</div>

</body>
</html>